<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="">
        <span class="title">Pharm'Assist</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/form/spec" routerLinkActive="active" class="nav-link nav-text">Dosage par spécialité</a>
      <a routerLink="/form/conc" routerLinkActive="active" class="nav-link nav-text">Dosage par concentration</a>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
