<form [formGroup]="form" (keyup)="update()">
  <div>
    <label for="specialty">Spécialité : </label>
    <select id="specialty" formControlName="mgPerMl">
      <option *ngFor="let specialty of specialtyService.getSpecialties()" [value]="specialty.mgPerMl">{{specialty.name}}</option>
    </select>
  </div>
  <div>
    <input type="number" formControlName="weight" /> kg &times;
    <input type="number" formControlName="targetDose" /> mg/kg/jour &times;
    (1/{{form.controls.mgPerMl.value}}) ml/mg
  </div>
  <div>
    => {{dailyMl}} ml/jour
  </div>
  <div>
    => {{intakeMl}} ml (<input type="number" formControlName="intakes" /> fois par jour)
  </div>
</form>
